.tag {
	display: inline-block;
	border-radius: 20px;
	margin-right: 5px;
}

.sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 12px;
}

.base {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 14px;
}

.md {
	padding: 5px 10px;
	font-size: 16px;
	line-height: 16px;
}

.ghost {
	border: 1px solid var(--gray-light);
}

.red {
	background: #DE0000;
	color: var(--white);
	font-weight: bold;
}

.gray {
	background: #B3C0D9;
	color: var(--white);
	font-weight: bold;
}

.green {
	background: var(--green-light);
	color: var(--green);
	font-weight: bold;
}

.primary {
	border: 1px solid var(--primary);
	background: none;
	color: var(--primary);
}